doctype html
html( lang="en" )
   include ./head.jade
   body(style="padding:65px;")
      include ./navbar.jade
      div(class = ['container'])
         .row
            .col-lg-7(style="padding: 5px;" class=["col-centered"])
               h2 Start a SongPool
               form(action="createRoom" method="POST")
                  label
                  input(type="text" placeHolder="New room name" class=["form-control"] name="roomName" required)
                  input(type="number" placeHolder="Number of songs" class=["form-control"] name="numSongs" required)
                  input(type="submit" value="Create" class=["btn btn-primary"] style="margin-top:5px")
               div(class="form-group" style="margin-top:35px")
                 label(for="select" class="control-label") Choose profile to enter in pool
                 select(class="form-control" id="select")
                  option 1
                  option 2
                  option sdf
                  option asdf
                  option asdf23
               h2(style="margin-top:20px") Join open SongPool
               ul
                  each room in rooms
                     a(href="/waitingRoom?id="+room.id)=room.name
                     br

      script(src="")