doctype
head
   title Soundpool
   meta(charset='utf-8')
   meta( http-equiv='X-UA-Compatible', content='IE=edge')
   meta( name='viewport', content='width=device-width, initial-scale=1.0')
   link(href="stylesheets/bootstrap.css", rel="stylesheet")
   script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
   script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
   script(src='vendor/react.js')
   script(src='javascript/utils.js')
      //model stuff
   link(href='bower_components/bootstrap3-dialog/src/css/bootstrap-dialog.css', rel="stylesheet")
   link(href="stylesheets/styles.css", rel="stylesheet")
   script(src='bower_components/bootstrap3-dialog/src/js/bootstrap-dialog.js')
   script(src='bower_components/spotify-web-api-js/src/spotify-web-api.js')
   script(src='javascript/utils.js')
