doctype html
html( lang="en" )
   include ./head.jade
   script(src="javascript/hello.js")
   body(style="padding:20px; background-image:url('images/girlmusic.jpg')" class = ['container'])
      div(class = ['vertical-center'])
         h1 SoundPool
         p Social playlist generation
         a(href="/login" class="btn btn-primary") Log in with Spotify