doctype html
html( lang="en" )
   include ./head.jade
   body(style="padding:65px;")
      include ./navbar.jade
      div(class = ['container'])
         .row
            .col-xs-4(style="padding: 5px;" class=["col-offset-6"])
               form(action="createprofile" method="POST")
                  .form-group
                     label
                     input(type="text" placeHolder="New profile name" name="profileName" class=["form-control"])
                     input(type="submit" value="Submit" class=["btn btn-primary"])
         .row
            h1 Your profiles
            ul
               each val in profiles
                  div
                     a(href='/editProfile:'+val.id)=val.name


