doctype html
html( lang="en" )
   include ./head.jade
   body(style="padding:65px;")
      include ./navbar.jade
      div(class = ['container'])
         .row
            div(style="padding: 5px;" class=["col-lg-6 col-centered"])
               h1 Manage Profiles
         .row
            div(style="padding: 5px;" class=["col-lg-6 col-centered"])
               form(action="createprofile" method="POST")
                  .form-group
                     label
                     input(type="text" placeHolder="New profile name" name="profileName" class=["form-control"] required)
                     input(type="submit" value="Submit" class=["btn btn-primary"] style="margin-top:5px")
         .row
             div(style="padding: 5px;" class=["col-lg-6 col-centered"])
               h3 Your profiles
               ul
                  each val in profiles
                     div
                        a(href='/editProfile?playlistID='+val.id)=val.name


