html( lang="en" )
   include ./head.jade
   include ./navbar.jade

   body(style="padding:65px;")
      div(id="content")
         .row
            .col-lg-7(class=["col-centered"])
               h1(style="display: inline")=room.name
               h6 Please wait while we build the playlist...
         .row
            .col-lg-7.col-centered
               div(class="panel col-lg-6" style="padding: 20px")
                  h3(id="songName")
                  h4(id="artistName")
                  h5(id="albumName")
                  img(id="albumArt" src="" style="width: 100px; height: 100px")
                  div
                     audio(id="playbox" controls="controls")
               div(class="panel" style="padding-left: 20px")
                  h3 Song Queue
                  div(id="queue" style="height: 200px; overflow-y: scroll;")
         .row
            .col-xs-4(class=["col-centered"])
               h4 Users in Room
               div(id="users")

      script(src='javascript/room.js')
